body {
  background: #181818;
}

.heading-text {
  color: #00FF88;
  font-size: 5rem;
  font-family: 'DM Serif Text', serif;
}

.subheading-text {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}

.title-text {
  color: white;
  font-size: 1.75rem;
  font-family: 'DM Serif Text', serif;
  font-weight: lighter;
}

.para-text{
  color: #FFFFFF;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}
